/*
 * jsTree classic theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree-custom li, 
.jstree-custom ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-custom li { background-position:-90px 0; background-repeat:repeat-y;  }
.jstree-custom li.jstree-last { background:transparent; }
.jstree-custom .jstree-open > ins { background-position:-72px 0; }
.jstree-custom .jstree-closed > ins { background-position:-54px 0; }
.jstree-custom .jstree-leaf > ins { background-position:-36px 0; }

.jstree-custom .jstree-hovered { background:#e7f4f9; border:1px solid #e7f4f9; padding:0 2px 0 1px; }
.jstree-custom .jstree-clicked { background:navy; border:1px solid navy; padding:0 2px 0 1px; color:white; }
.jstree-custom a .jstree-icon { background-position:-56px -19px; }
.jstree-custom .jstree-open > a .jstree-icon { background-position:-56px -36px; }
.jstree-custom a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree-custom.jstree-focused { background:white; }

.jstree-custom .jstree-no-dots li, 
.jstree-custom .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-custom .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-custom .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-custom .jstree-no-icons a .jstree-icon { display:none; }

.jstree-custom .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-custom .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-custom .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-custom .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-custom .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-custom .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-custom .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-custom .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-custom ins { background:transparent !important; }
#vakata-dragged.jstree-custom .jstree-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-custom .jstree-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-custom { background:url("d.png") -41px -57px no-repeat !important; }

.jstree-custom a.jstree-search { font-style:italic; font-weight:bold; }

#vakata-contextmenu.jstree-custom-context, 
#vakata-contextmenu.jstree-custom-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-custom-context li { }
#vakata-contextmenu.jstree-custom-context a { color:black; }
#vakata-contextmenu.jstree-custom-context a:hover, 
#vakata-contextmenu.jstree-custom-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-custom-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-custom-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-custom-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-custom-context li ul { margin-left:-4px; }


.jstree-custom a.file ins.jstree-icon { background-position:-75px -19px; }
.jstree-custom .jstree-open > a.folder .jstree-icon { background-position:-75px -53px; }
.jstree-custom .jstree-closed > a.folder .jstree-icon { background-position:-75px -36px; }
.jstree-custom .jstree-open > a.selectable_folder .jstree-icon { background-position:-56px -36px; }
.jstree-custom .jstree-closed > a.selectable_folder .jstree-icon { background-position:-56px -36px; }
.jstree-custom a.root .jstree-icon { background-position:-56px -53px; }